@import 'variables';
.fourier {
  // max-width: 1900px;
  display: block;
  margin: 0 auto;

  display: grid;
  &--basegrid-fourier {
    grid-template-columns: var(--count);
    grid-template-areas: var(--areas);
    row-gap: 2rem;

    .real,
    .imag {
      grid-area: var(--area);
      width: 100%;
      height: 100%;
      position: relative;

      .title {
        font-weight: 600;
      }

      canvas {
        background-color: $secondary;
        border: 1px solid #dcd5e0;
      }
    }
  }
}
