.fourier {
  display: grid;
  &--basegrid-fourier {
    grid-template-columns: var(--count);
    grid-template-areas: var(--areas);
    padding: 0;

    .real,
    .imag {
      grid-area: var(--area);
      width: auto;
      height: 45vh;
    }
  }

  canvas {
    width: 100vh;
    height: 48vh;
    padding: 10px;
  }

  select {
    position: absolute;
  }
}
