@use 'sass:math';
@use 'sass:color';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
);

// Colors
$primary: rgb(80, 83, 196);
$secondary: hsl(280, 43%, 96%);
$purple: hsl(286, 100%, 50%);
$blue: hsl(251, 53%, 45%);
$turquoise: hsl(176, 72%, 71%);
$white: rgb(255, 255, 255);
$dark: rgb(38, 38, 38);

$base-font-size: 18px;
// $primary-70: transparentize($primary, 0.3);

$navbarHeight: 80px;
$filtersHeight: 60px;
