@media only screen and (max-width: 1200px) {
    h1 {
      font-size: 32px;
      line-height: 1.0;
    }

    .home{
      img{
        width: 100%;
      }
    }

    footer.footer-legal {
      position: inherit !important;
    }
  }
