@use 'sass:color';

@import 'assets/styles/variables';
@import 'assets/styles/mixins/breakpoints';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Component styles
@import 'assets/styles/navigation';
@import 'assets/styles/basegridFourier';

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
